*{
  margin:0;
  padding:0;
  box-sizing:border-box
}

body{
  background-color: #282c34;
  color:white
}
.formInput{
  min-width:40vw;
  max-width:100vw;
  padding:1rem;
  margin:0.3rem 0.5rem;
}

.input-form {
  width:80%;
  padding:.3rem;
}
.btn-form-submit{
  border:none;
  padding:.4rem;
}

.form-flex{
  display:flex;
  align-items:center;
  justify-content:center;
}
li {
  list-style:none;
}
.container-todoslist{
  border-radius:10px; 
  overflow:none;
  max-width:80vw;
  transition:1s ease-in-out;
}
.container-todoslist > li{
  margin:.8rem .3rem;
  font-size:2ch;
  text-overflow:clip
}
.setcomplete,.delete{
  border:none;
  color:white;
  padding:.3rem;
}
.todos-completed {
  opacity:0.4
}
select {
  border:none;
  padding:.4rem;
  background:#ffffff;
  width:50%;
}
